<div class ="jumbotron">
	<h1 style="text-align:center">Welcome to my new Application</h1>
	<p style="text-align:center">Click here to Sign Up </p>
	<p style="align:center"><%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg btn-block" %></p>

</div>